{% include 'header.html' %}

<!-- MAIN -->
<div id="main">

    <!-- content -->
    <div id="content">

        <!-- title -->
        <div id="page-title">
            <span class="title">A Workshops Blog</span>
            <span class="subtitle">Just another blog on the Internet... but this one was made to share performance knowladge ;-)</span>
        </div>
        <!-- ENDS title -->

        <!-- Posts -->
        <div id="posts">

            {% if( posts|length > 0 ) %}
            
                {% for post in posts %}
                <!-- post -->
                    <div class="post">
                        <h1><a href="/post/{{ post.id }}">{{ post.title }}</a></h1>
                        <div class="n-comments">{{ post.comments|length }}</div>
                        
                        <!-- shadow -->
                        <div class="thumb-shadow">
        
                            <!-- post-thumb -->
                            <div class="post-thumbnail">
                                <!-- meta -->
                                <ul class="meta">
                                    <li><strong>Posted on</strong> {{ post.date }} </li>
                                    <li><strong>By</strong> <a href="#">{{ post.author }}</a></li>
                                    
                                    {% if( post.tags|length ) %}
                                    <li> <strong>Posted in</strong>
                                        <div class="meta-tags">
                                            <a href="#">Webdesign</a>
                                            <a href="#">Code</a>
                                            <a href="#">Photo</a>
                                            <a href="#">Blue</a>
                                            <a href="#">Computers</a>
                                            <a href="#">Sites</a>
                                        </div>
                                    </li>
                                    {% endif %}
                                </ul>
                                <!-- ENDS meta -->
                                <a href="/post/{{ post.id }}" class="cover"><img src="/assets/img/dummies/596x270.gif" alt="Feature image"></a>
                            </div>
                            <!-- ENDS post-thumb -->
        
                            <div class="the-excerpt">
                                {{ post.excerpt }}
                            </div>
                            <a href="/post/{{ post.id }}" class="read-more">+ Read more</a>
        
                        </div>
                        <!-- ENDS shadow -->
                    </div>
                <!-- ENDS post -->
                {% endfor %}
            
            {% endif %}

        </div>
        <!-- ENDS Posts -->
        
        {% include 'sidebar.html' %}

    </div>
    <!-- ENDS content -->

</div>
<!-- ENDS MAIN -->

{% include 'footer.html' %}
