<!-- FOOTER -->
<div id="footer">

    <!-- footer-cols -->
    <ul id="footer-cols">
        <li class="col">
            <h6>About the page</h6>
            This blog was created for workshops on which Wikians share their knowladge about improving websites performance. The page is supposed to be as slow as possible ;) It uses free template found on the Internat and created by <a href="http://www.luiszuno.com"> Luiszuno</a>.
        </li>
        <li class="col">
            <h6>About the workshops</h6>
            First workshops when we used this blog were organized by Politechnika Poznańska on Thursday 14th March 2013. Another round was held at Workgate 2014 job fares in Concordia Design in Poznań.
        </li>
        <li class="col">
            <h6>About Wikia</h6>
            Wikia is home to over 400,000 communities for fans, by fans. We are often cited as the best source of accurate, dynamic, and fresh fan-authored information that is fueling virtually all aspects of popular culture. Wikia's fan base continues to fuel consistent growth with over 2 billion global monthly page views. Check out <a href="http://www.wikia.com">our hompage</a>!
        </li>
    </ul>
    <!-- ENDS footer-cols -->

    <!-- Bottom -->
    <div id="bottom">
        <a href="http://luiszuno.com/blog/downloads/shinra-html-template">Shinra</a> is a Free Template by <a href="http://www.luiszuno.com"> Luiszuno</a>

        <div id="to-top" class="poshytip" title="To top"></div>

    </div>
    <!-- ENDS Bottom -->
</div>
<!-- ENDS FOOTER -->

</div>
<!-- ENDS WRAPPER -->




<div id="fancybox-tmp"></div><div id="fancybox-loading"><div></div></div><div id="fancybox-overlay"></div><div id="fancybox-wrap"><div id="fancybox-outer"><div class="fancybox-bg" id="fancybox-bg-n"></div><div class="fancybox-bg" id="fancybox-bg-ne"></div><div class="fancybox-bg" id="fancybox-bg-e"></div><div class="fancybox-bg" id="fancybox-bg-se"></div><div class="fancybox-bg" id="fancybox-bg-s"></div><div class="fancybox-bg" id="fancybox-bg-sw"></div><div class="fancybox-bg" id="fancybox-bg-w"></div><div class="fancybox-bg" id="fancybox-bg-nw"></div><div id="fancybox-content"></div><a id="fancybox-close"></a><div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a></div></div></body></html>
