<!-- sidebar -->
<ul id="sidebar">
    <!-- init sidebar -->
    <li>
        <h6>Categories</h6>
        <ul>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
        </ul>
    </li>

    <li>
        <h6>Archives</h6>
        <ul>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
        </ul>
    </li>
    <!-- ENDS init sidebar -->
</ul>
<!-- ENDS sidebar -->