<!-- sidebar -->
<ul id="sidebar">
    <!-- init sidebar -->

    {% if( categories|length > 0 ) %}
    <li>
        <h6>Categories</h6>
        <ul>
            {% for category in categories %}
            <li class="cat-item"><a href="#" title="View all posts">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}
    
    {% if( archives|length > 0 ) %}
    <li>
        <h6>Archives</h6>
        <ul>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
            <li class="cat-item"><a href="#" title="View all posts">Pellentesque habitant morbi</a></li>
        </ul>
    </li>
    {% endif %}
    
    <!-- ENDS init sidebar -->
</ul>
<!-- ENDS sidebar -->